USE [master]
GO
/****** Object:  Database [AeropuertoDB]    Script Date: 05/12/2016 0:17:36 ******/
CREATE DATABASE [AeropuertoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AeropuertoDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AeropuertoDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AeropuertoDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AeropuertoDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AeropuertoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AeropuertoDB]
GO
/****** Object:  Table [dbo].[Aviones]    Script Date: 05/12/2016 0:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Aviones](
	[Matricula] [int] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[codigoVuelo] [int] NOT NULL,
 CONSTRAINT [PK_Aviones] PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Aviones] ([Matricula], [Marca], [Modelo], [Capacidad], [codigoVuelo]) VALUES (1236, N'Boeing', N'747', 555, 1005)
INSERT [dbo].[Aviones] ([Matricula], [Marca], [Modelo], [Capacidad], [codigoVuelo]) VALUES (1254, N'Boeing', N'737', 162, 1000)
INSERT [dbo].[Aviones] ([Matricula], [Marca], [Modelo], [Capacidad], [codigoVuelo]) VALUES (1255, N'Learjet', N'35', 7, 1020)
USE [master]
GO
